.navLinkContainer {
    display: flex;
    justify-content: space-around;
}
.navLink {
    position: relative;
}
.navLinkDropdown {
    padding: 4px 4px;
    box-shadow: 1px 1px 5px 0px gray;
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    margin-top: 4px;
    position: absolute;
}

.linkItem {
    text-decoration: none;
    color: black;
}